// COLOR
$color-primary : #6b35a9;
$color-primary-light: #9664cf;
$color-primary-dark: #422168;
$color-primary-dark-1:#32194f;

$color-white--1: #fff;
$color-white--2: #f7f7f7;
$color-white--3: #eee;

$color-grey-1: #6f6f6f;
$color-grey: #666;

$color-black-light:#1a1a1a;
$color-black-dark: #000;